/*

Based on Josh and Andy CSS Reset.
https://www.joshwcomeau.com/css/custom-css-reset/
https://andy-bell.co.uk/a-modern-css-reset/

*/

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
}

p, a, span {
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6, p, a, span {
  overflow-wrap: break-word;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

ul[role='list'], ol[role='list'] {
  list-style: none;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}
